
    <style>
      body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

h3 {
  margin-bottom: 10px;
}

.customer-info,
.order-info {
  margin: 30px auto;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.customer-info p,
.order-info p {
  margin-bottom: 5px;
}

.order-info {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding-top: 30px;
  padding-bottom: 30px;
}

.order-info p:first-child {
  margin-top: 0;
}

.order-info p:last-child {
  margin-bottom: 0;
}

.order-info p:nth-child(even) {
  font-weight: bold;
}

.order-info p:nth-child(odd) {
  margin-left: 40px;
}
    </style>
  
  <body>
    {{>header-admin}}
    <div class="customer-info">
      <h3>Thông tin khách hàng</h3>
      <p>Tên: {{order.customer_id.name}}</p>
      <p>Email: {{order.customer_id.email}}</p>
      <p>SĐT: {{order.customer_id.phoneNumber}}</p>
      <p>Địa chỉ: {{order.customer_id.address}}</p>
    </div>

    <div class="order-info">
      <h3>Thông tin đơn hàng</h3>
      <p>Mã đơn hàng: {{order._id}}</p>
      <p>Ngày đặt hàng: {{order.created_at}}</p>
      {{#each order.products}}
      <p>Tên sản phẩm: {{ this.product_id.name }}</p>      
      <p>
        Giá: {{ formatPrice this.product_id.price }}/1 chiếc <br>
        Số lượng: {{ this.quantity }}
      </p>
      {{/each}}
      <p>Tổng tiền: {{formatPrice order.total}}</p>
    </div>
  </body>